.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
    color: black;
    margin-left: 2%;
}
  
.infoSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
.imageSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.mainImage {
    width: 500px; /* o el valor que desees */
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  
.bidButton {
    align-self: flex-start;
  }
  
.description {
    text-align: justify;
  }
  
.timeLeft {
    font-style: italic;
    color: #555;
  }
  

.div_space {
    padding: 1%;
}

.BidList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
  
.bidItem {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.bidImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.bidDetails {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.bidActions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    min-width: 150px; 
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: #1c3f60;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #ffae00;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination button {
    padding: 10px 20px;
    border: none;
    background-color: #1c3f60;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pagination button:hover:not(:disabled) {
    background-color: #ffae00;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    font-size: 16px;
    color: #333;
}